body {
  background-color: grey;
  color: white;
  font-family: sans-serif;
}

.header-container {
  text-align: center;
}

.header-container h1 {
}

.footer-container {
  text-align: center;
}

.footer-container h1 {
}