body {
  background-color: grey;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  font-size: 5em;
  margin: 0;
  padding: 0;
}

.image-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  position: relative;
  width: 720px;
}

.header-container, .footer-container {
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer-container {
  bottom: 0;
  left: 0;
}

.header-container h1, .footer-container h1 {
  position: relative;
  overflow: hidden;
}