body {
  color: black;
  font-family: sans-serif;
}

fieldset {
  width: fit-content;
}

div {
  margin-bottom: .5em;
  text-align: left;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  margin: 0;
  padding: 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.image-container {
  position: relative;
  max-width: fit-content;
}

img {
  display: block;
}

.header-container, .footer-container {
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer-container {
  bottom: 0;
  left: 0;
}

.header-container h1, .footer-container h1 {
  overflow: hidden;
}